/* THE PAGE AS A WHOLE */
/* Fonts */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Playfair Display';
}

body {
    background-color: rgb(250, 238, 240);
}

.col, [class*="col-"] {
    text-align: center;
}

.hidden {
    display: none;
}

/* Header */
header {
    display: flex;
    text-align: center;
}

.title {
    flex-direction: column;
    text-align: center;
}

.title p {
    border-bottom: 2px solid green;
}

/* Current Forecast */
.main-section {
    justify-content: center;
}

.todays-weather-specs {
    line-height: .8;
    border: 2px dashed green;
    margin: auto;
}

.current-weather {
    background-color: rgb(236, 236, 178);
}

.history-row {
    /* text-align: center; */
    justify-content: center;
    background-color: rgb(227, 236, 227);
}

.history-item {
    width: 60%;
    margin: 0 auto;
    margin: 10px auto;
}

.icon-images {
    width: 80px;
    margin: 0 auto;
}

.input-column {
    background-color: rgb(207, 207, 241);
}

#form {
    display: block;
    margin: 0 auto;
}

/* Future Forecast */
.future-information-section {
    color: green;
    display: inline-block;
}

#display-city-name {
    font-size: 30px;
    text-decoration: underline;
}

.row-weather {
    display: flex;
    flex-direction: column;
}

.future-forecast-css {
    display: inline-block;
    background: pink;
    border-radius: 20px;
    /* padding-left: -100px; */
    text-align: center;
}

.skies-description {
    display: block;
    width: 200px;
    text-align: center;
}