* {
    box-sizing: border-box;
    margin: 10px;
}

.row, [class*="row-"] {
    border: 2px solid red;
}

/* This selects all the columns in Bootstrap for better display */
.col, [class*="col-"] {
    border: 2px solid blue;
    text-align: center;
}

body {
    outline: 2px solid orange;
}

.title {
    flex-direction: column;
    text-align: center;
}

.history {

}

/* .container {
    outline: 2px solid greenyellow;
    width: 150%;
    margin: 0 auto;
} */

.one-column {
    /* margin: 10px auto; */
}

#history-dropdown {
    width: 80%;
    outline: 2px solid blue;
    color: aqua;
}

.hidden {
    display: none;
}

.future-information-section {
    justify-content: space-evenly;
    color: green;
}

.main-section {
    /* text-align: center; */
    /* margin: 0 auto; */
}

.input-section {
    background-image: url(./images/Nature-Backgrounds.jpg);
    background-size: cover;
    background-position: center;
    color: black;
}

.input-row {
    /* width: 100%; */
    text-align: center;
}

.input-section-data {
    margin: 0 auto;
    outline: 2px solid purple;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: aliceblue;
    opacity: .9;
}

#form {
    display: block;
    /* width: 150%; */
    margin: 0 auto;
}

.history {
    display: flex;
    flex-direction: column;
}

.history p {
    margin: 0 auto;
}